@*<h1>Cart</h1>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @*foreach (var item in cartService.GetCartItems())
        {
           
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Quantity * product.Price)</td>
            </tr>
        }
    </tbody>
</table>

*@