@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <div class="container">
        <div class="intro-text">


            <a class="page-scroll btn btn-xl" href="/User/Index">Users</a>
            <a class="page-scroll btn btn-xl" href="/Product/AddOrEdit">Add Product</a>
            <a class="page-scroll btn btn-xl" href="/Product/Index">Products</a>
            @*      <a class="page-scroll btn btn-xl" href="/ItemOrder/AddOrEdit">Add ItemOrder</a>
            <a class="page-scroll btn btn-xl" href="/ItemOrder/Index">ItemOrders</a>*@
            <a class="page-scroll btn btn-xl" href="/Order/AddOrEdit">Add Order</a>
            <a class="page-scroll btn btn-xl" href="/Order/Index">Orders</a>
            <a class="page-scroll btn btn-xl" href="/Drink/AddOrEdit">Add Drink</a>
            <a class="page-scroll btn btn-xl" href="/Food/AddOrEdit">Add Food</a>
            <a class="page-scroll btn btn-xl" href="/Food/Index">available Food</a>


        </div>
    </div>
</header>










